<html>
  <head>
    <title>SportsTweet</title>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  </head>
  <body>
    <div class="container">
      <h1>SportsTweet</h1>
      <!--<p>Link to saved tweets: <%= link_to "Saved tweets", tweets_path %></p>-->
      <div class = "tweet_timeframe">
        <% elapsed_minutes = tweet_timeframe %>
        <% num_tweets = tweet_count %>
        <p> <%= num_tweets %> tweets from the past <%= elapsed_minutes %> minutes </p>
      </div>
      <div class="popular">
        <h3>Most mentioned teams:</h3>
        <svg class="chart"></svg>
      </div>
      <div class="popular_picture">
        <h3> Trending Picture </h3>
          <% tweet = get_picture %>
          <img src= <%= tweet.first %> />
          <h4> <%= tweet.second %> </h4>
      </div>
      <div class="tweet_container">
        <h3>Tweets about the NBA:</h3>
        <div class="tweets">
        </div>
      </div>


    </div>
    <script type="text/javascript">
        // Set up initial bar graph
        var w = 400,
            h = 400,
            colors = d3.scale.category20();
     
        var data = [
            <% show_popular.each do |team, count| %>
              {"label":"<%= team %>", "value": <%= count %>},
            <% end %>
        ];
        var values = data.map(function(d, i) { return d.value; });

        var x = d3.scale.linear()
                  .domain([0, d3.max(values)])
                  .range([0, w]);
     
        var y = d3.scale.ordinal()
                  .domain(values)
                  .rangeBands([0, h]);

        var chart = d3.select(".chart")
                      .attr("width", w)
                      .attr("height", h);

        chart.selectAll("rect")
             .data(values)
             .enter().append("rect")
             .attr("y", y)
             .attr("width", x)
             .attr("height", y.rangeBand())
             .style("fill", function(d, i) { return colors(i); });

        chart.selectAll("text")
             .data(values)
             .enter().append("text")
             .attr("x", 10)
             .attr("y", function(d) { return y(d) + y.rangeBand() / 2; })
             .attr("dx", -3)
             .attr("dy", ".35em")
             //.attr("text-anchor", "end")
             .text(function(d, i) { return data[i].label + " (" + d + " mentions)"; });

    </script>
  </body>
</html>
